@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap");

body {
  font-family: "Poppins", cursive;
  font-weight: 500;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

img {
  width: 100%;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

#hero {
  background-image: url("images/banner.jpg");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 500px;
}

.overlay {
  position: relative;
  z-index: 2;
}

.overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: rgba(243, 146, 67, 255);
  color: white;
}

.fa-instagram {
  background: rgba(243, 146, 67, 255);
  color: white;
}

.btn {
  padding: 14px 32px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: rgba(243, 146, 67, 255);
  border-color: rgba(243, 146, 67, 255);
  border-radius: 100px;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: rgba(243, 146, 67, 255);
}

.navbar {
  transition: all 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link .active {
  color: rgba(243, 146, 67, 255);
}

.intro {
  margin-bottom: 0;
}

.intro .divider {
  background-color: rgba(243, 146, 67, 255);
  height: 2px;
  width: 120px;
  margin: 10px auto;
}

#branches {
  background-image: url(images/milestone.png);
  min-height: 10vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(243, 146, 67, 255);
}

.counter .number {
  line-height: 1;
  font-size: 100px;
  font-weight: 800;
}

.counter .divider {
  width: 100px;
  height: 2px;
  background-color: black;
  margin: 10px auto;
}

.package {
  position: relative;
  overflow: hidden;
}

.package-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 146, 67, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white;
  text-align: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease;
}

.package:hover .package-info {
  opacity: 1;
  transform: scale(1);
}

.review img {
  height: 50%;
  width: 100%;
}

.review h1 {
  font-size: 80px;
}

.review .divider {
  width: 300px;
  height: 2px;
  background-color: white;
  margin: 10px auto;
}

#contact .container {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .divider {
  width: 120px;
  height: 2px;
  background-color: black;
  margin: 10px auto;
}

form {
  background: rgba(243, 146, 67, 255);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
}

form button {
  padding: 14px 32px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  border-color: white;
  border-radius: 100px;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
}

form button:hover {
  background-color: transparent;
  border-color: white;
}
